---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="https://i.pinimg.com/originals/8a/6a/5f/8a6a5ff11ae4f86b87059e0e845816dd.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Yoga State of Mind</h1>
        <p class="hero__meta">Yoga is a physical exercise that strengthens the body in various ways. One important body part that yoga helps to stretch is the brain. The fundamental theories of yoga ("yogamentals") can bring great wisdom to the rest of our lives. This blog explores the philosophies of life in today’s world through science, research, and data analysis.</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
